.btn_open_menu{
    position: fixed;
    bottom: 50%;
    right: 0;
    background-color: #000000;
    border-radius: 0;
    border: none;
    height: 3.5em;
    width: 3.5em;
}

.svg_accessibility{
  height: 1.5em;
  width: 1.5em;
}

.icon_accessibility{
  fill: #ffffff;
}

/* ------------------------------------menu------------------------------------------- */
/* background */
.menu{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
  .menu-content{
    font-family: Arial;
    font-weight: bold;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close-menu{
    color: #000000;
    float: right;
    font-size: 2em;
    font-weight: bold;
  }
  
  .close-menu:hover,
  .close-menu:focus {
    color: rgb(204, 21, 21);
    text-decoration: none;
    cursor: pointer;
  }

  .plugin-text{
    color: #323a45;
    font-family: Arial !important;
    font-weight: normal;
    text-transform: uppercase;
  }
/* ----------------------------------text size buttons--------------------------------------------- */
  .btn-custom-confirm{
    background-color: #323a45;
    color: #ffffff;
    border-radius: 0;
  }
  .btn-custom-confirm:hover{
    background-color: #000000;
    color: #ffffff;
  }

  .btn-custom{
    border-color: #323a45;
    border-radius: 0;
  }

  .btn-custom:hover{
    color: #ffffff;
    background-color: #323a45;
  }

  .select-custom{
    color: #000000;
    border-color: #000000;
    border-radius: 0;
  }

  .btn-small-text{
    font-size: medium;
  }

  .btn-medium-text{
    font-size: large;
  }

  .btn-large-text{
    font-size: larger;
  }

  .btn-spacing{
    margin: 2em;
  }

/* ------------------------------------------------------------------------------- */
html {
  cursor: url('../src/cursor.svg'), default;
 
  
}
/* ------------------------------------------------------------------------------- */

